
ITERATE OVER KEYS WITHIN mykeys (getvs gets all the vals):

{{range getvs "/mykeys/*"}}
    GET THE FULL KEY  WITH .
    key {{.}};
    SET A VARIABLE AND USE A FUNCTION TO SPLIT
   {{ $url := split . ":" }}
    INDEX INTO AN ARRAY 
    host: {{index $url 0}}
    port: {{index $url 1}}
{{end}}



ALTERNATE WAY TO REFERENCE KEY and VALUE (gets gets all key val pairs)
{{range gets "/mykeys/*"}}
    {{.Key}}
    {{.}}
    {{.Value}}
{{end}}


CAN USE get directly
{{with get "/mykeys/key1"}}
    key: {{.Key}}
    value: {{.Value}}
{{end}}


